<% @articles.each do |article| %>
  <a href="<%= blog_post_path(article.id) %>" style="text-decoration: none">
    <h1><%= article.title %></h1>
    <p><%= article.description %></p>
    <p><%= stringfy_date(article.date) %></p>
  </a>
  <% article.tags.each do |tag| %>
    <a class"tag" href=<%= "#{blog_path}?tag=#{tag}" %>><%= tag %></a>
  <% end %>
<% end %>
