<!DOCTYPE html>
<html>
  <head>
    <title><%= @title_prefix %>Caroline Salib</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-inner">
        <a href="/" class="title">Caroline Salib</a>
        <nav class="nav">
          <a class="link" href="<%= about_path %>">About</a>
          <a class="link" href="<%= blog_path %>">Blog</a>
        </nav>
      </div>
    </header>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
